#Ky fajll eshte nje fajll i veqante ne te cilin vendosen emrat e fajllave te cilet pas qdo commit ato fajlla injorohen 
pra eshte nje fajll i clili automatikisht Github analizon permbajtjen e saj dhe injoron fajllat qe ndodhen ne te.